doctype html
html(class="no-js", lang="ru")

  include ../blocks/head/head.pug

  include ../blocks/exhibition-map/exhibition-map.pug
  include ../blocks/companies/companies.pug


  head
    +head(head.defaults)
  body.page.lazy(data-bg='url(assets/images/general/bg.jpg)')
    |%=symbols=%
    main.main
        +exhibition-map().main__section
        +companies().main__section


    script(src='%=static=%js/separate-js/lazyload.min.js' defer)
    script(src='%=static=%js/separate-js/jquery.min.js' defer)
    //- script(src='%=static=%js/separate-js/jquery.magnific-popup.min.js' defer)
    //- script(src='%=static=%js/separate-js/slick.min.js' defer)

    script(src='%=static=%js/main%=hash=%%=min=%.js' defer)
